body {
  font-family: 'Noto Sans', sans-serif;
}


.footer .icon-link {
    font-size: 25px;
    color: #000;
}

.link-block a {
    margin-top: 5px;
    margin-bottom: 5px;
}

.dnerf {
  font-variant: small-caps;
}


.teaser .hero-body {
  padding-top: 0;
  padding-bottom: 3rem;
}

.teaser {
  font-family: 'Google Sans', sans-serif;
}


.publication-title {
    letter-spacing: 2px; /* Increases space between letters */
    font-size: 1.8rem; /* Adjust font size as needed */
    word-spacing: 2px; /* Increases space between words */
    text-align: center; /* Keeps the title centered */
}

/* If you need to adjust the container width */
.container.is-max-desktop {
    max-width: 90%; /* Increase as needed, 90% is just an example */
}

.publication-banner {
  max-height: parent;

}

.publication-banner video {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
  object-fit: fit;
}

.publication-header .hero-body {
}

.publication-title {
    font-family: 'Google Sans', sans-serif;
}

.publication-authors {
    font-family: 'Google Sans', sans-serif;
}

.publication-venue {
    color: #555;
    width: fit-content;
    font-weight: bold;
}

.publication-awards {
    color: #ff3860;
    width: fit-content;
    font-weight: bolder;
}

.publication-authors {
}

.publication-authors a {
   color: hsl(204, 86%, 53%) !important;
}

.publication-authors a:hover {
    text-decoration: underline;
}

.author-block {
  display: inline-block;
}

.publication-banner img {
}

.publication-authors {
  /*color: #4286f4;*/
}

.publication-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    overflow: hidden;
    border-radius: 10px !important;
}

.publication-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.publication-body img {
  display: block;  /* Makes the image a block-level element */
  margin-left: auto;
  margin-right: auto;
  max-width: 100%; /* Ensures the image is not larger than its container */
  height: auto; /* Maintains the aspect ratio of the image */
}

.results-carousel {
  overflow: hidden;
}

.results-carousel .item {
  margin: 5px;
  overflow: hidden;
  padding: 20px;
  font-size: 0;
  text-align: center; /* Centers the content inside .item */
}

.results-carousel .item img {
  width: 80%; /* Adjust this value as needed */
}

.results-carousel video {
  margin: 0;
  display: block; /* Aligns video similarly to images */
  margin-left: auto;
  margin-right: auto;
}

.slider-pagination .slider-page {
  background: #000000;
}


.eql-cntrb { 
  font-size: smaller;
}



